{% extends 'layout.html' %}
{% block content %}
   <h1 style="text-align: center; color: blue;">Create a New Deck</h1>
   <br>
   <form action="" method="post">
      {{ form.hidden_tag() }}
      <div>
         {{ form.deck_name(placeholder="Deck Name",
         style='width: 50%;
         font-weight: bold;
         padding: 12px 20px ;
         margin: 8px 0;
         border: 1px solid #ccc;
         border-radius: 4px;
         box-sizing: border-box') }}
         {% for error in form.deck_name.errors %}
         <p>{{ error }}</p>
         {% endfor %}
      </div>
      <br>
      <div>
         {{ form.submit(style ='width: 50%;') }}
      </div>
   </form>
   <a href="{{url_for('main_bp.my_decks', email=current_user.email)}}" class="my_decks">Go to My Decks</a>
{% endblock %}