{% extends 'layout.html' %}
{% block content %}

<h1>FLASHCARDZ</h1>
<h2>DECK OVERVIEW: {{ deck_name }} </h2>

<h3 style = "color: blue; margin-left:100px;"><a href="{{ url_for('main_bp.my_decks', email=email) }}">My Decks</a></h3>

{% if cards is none %}
      <p>No Cards yet</p>  
   {% else %}
      <div class="card-container">
         {% for card in cards %}
            <div class="card" flipped="false">
               <div class="card-inner">
                  <div class="card-front">
                     <h3>Front: </h3>
                     <p>{{ card.front }}</p>
                     <p>Correct: {{ card.correct }}</p>
                  </div>
                  <div class="card-back">
                     <h3>Back: </h3>
                     <p>{{ card.back }}</p>
                  </div>
                  <div class="last_attempt_correct">
                    <h3>Correct: </h3>
                    <p>{{ card.correct }} </p>
                  </div>
               </div>
            </div>
         {% endfor %} 
      </div>
   {% endif %}

    <h2>Score:  %</h2>

    <h3 style = "color: blue; margin-left:100px;"><a href="{{ url_for('main_bp.edit_deck', email=email, deck_id=deck_id) }}">Edit Deck</a></h3>
    <h3 style = "color: blue; margin-left:100px;"><a href="{{ url_for('main_bp.study', email=email, deck_id=deck_id, card_id=0) }}">Study Deck</a></h3>


   {% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='flip-card.js') }}"></script>

{% endblock %}