{% extends 'layout.html' %}
{% block content %}

   <div class="deck-info-container">
      <div class="title-btn">
         <h1>{{ deck.name }}</h1>
         <a href="{{ url_for('main_bp.study', card_id=user_cards[0].id) }}">
            <button>Study Deck</button>
         </a>
      </div>
      <h2>Cards: {{ deck.card_count }}</h2>
      <h2>Last Study Score: {{ percent_score }}%</h2>
   </div>


   <div class="card-info-container">
      <div class="title-btn">
         <h1>Cards</h1>
         <a href="#create-card-container">
            <button>New Card</button>
         </a>
      </div>

      <div class="card-container">
         {% if user_cards %}
            {% for card in user_cards %}
               <div class="edit-card-container">
                  <div class="card" flipped="false">
                     <div class="card-inner">
                        <div class="card-front">
                           <div class="side-text">
                              <h3>Front: </h3>
                              <p>{{ card.front }}</p>
                           </div>
                        </div>
                        <div class="card-back">
                           <div class="side-text">
                              <h3>Back: </h3>
                              <p>{{ card.back }}</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="edit-delete">
                     <a class="edit-card" href="#">Edit </a>
                     <a class="delete-card" href="#">Delete</a>
                  </div>
               </div>
            {% endfor %} 
         {% else %}
            <p>No Cards yet</p>  
         {% endif %}
      </div>
   </div>

   <div id="create-card-container">
      <div class="edit-page-title">
         <h1>Create Card</h1>
         <p>Enter front and back text in the form below and press "Create Card"</p>
      </div>
         <form action="" method="post">
            {{ form.hidden_tag() }}
            <div>
               {{ form.front(placeholder="Front text",
               style='width: 100%;
               font-weight: bold;
               padding: 12px 20px ;
               margin: 8px 0;
               border: 1px solid #ccc;
               border-radius: 4px;
               box-sizing: border-box') }}
               {% for error in form.front.errors %}
               <p>{{ error }}</p>
               {% endfor %}
            </div>
            <br>
            <div>
               {{ form.back(placeholder="Back text",
               style='width: 100%;
               font-weight: bold;
               padding: 12px 20px ;
               margin: 8px 0;
               border: 1px solid #ccc;
               border-radius: 4px;
               box-sizing: border-box') }}
               {% for error in form.back.errors %}
               <p>{{ error }}</p>
               {% endfor %}
            </div>
            <br>
            <div>
               {{ form.submit(style ='width: 100%;') }}
            </div>
         </form>
   </div>
   
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='flip-card.js') }}"></script>
{% endblock %}