<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    {% if current_user.is_authenticated %}
        <header>You are logged in as {{ current_user.email }}</header>
        <a href="{{ url_for('main_bp.logout')}}">
            <button type="button">
                Log Out
            </button>
        </a> 
    {% endif %}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>