<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    {% if current_user.is_authenticated %}
        <header>
            Logged in as {{ current_user.email }}
            <div class="nav-btns">
                <a href="{{ url_for('main_bp.my_decks', email=current_user.email)}}">
                    <button type="button">
                        My Decks
                    </button>
                </a> 
                <a href="{{ url_for('main_bp.logout')}}">
                    <button type="button" id="logout-btn">
                        Log Out
                    </button>
                </a> 
            </div>
        </header>
    {% endif %}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>