{% extends 'layout.html' %}
{% block content %}
   <h1>FLASHCARDZ</h1>
   <h2>LOG IN </h2>
   <form action="" method="post">
      {{ form.hidden_tag() }}

      <div>
         EMAIL<br> 
         {{ form.email(placeholder="Email") }}
         {% for error in form.email.errors %}
         <p>{{ error }}</p>
         {% endfor %}
      </div>
      <br>

      <div>
         PASSWORD<br> 
         {{ form.password(placeholder="Password") }}
         {% for error in form.password.errors %}
         <p>{{ error }}</p>
         {% endfor %}
      </div>
      <br>

      <div>
         {{ form.submit }}
      </div>
      <br>

   </form>
   <p class="alt-auth"><a href="{{ url_for('auth_bp.register') }}">Don't have an account? Sign up!</a></p>
{% endblock %}