{% extends 'layout.html' %}
{% block content %}
    <h1>FLASHCARDZ</h1>
    <h2>MY DECKS</h2>	
    <div id="decks">
        <a href="{{url_for('main_bp.create_deck', email=email)}}" class="decks">
            <input type = "button" value = "CREATE DECK +" />
        </a>
        {% for deck in user_decks %}
        <a href="{{url_for('main_bp.edit_deck', email=email, deck_id=deck.id)}}" class="decks">
            <input type = "button" value ="{{ deck.name }}" />
        </a>
        {% endfor %}
    </div>
{% endblock %}