{% extends 'layout.html' %}
{% block content %}

<div class="h3-container">
   <h3><a href="{{ url_for('main_bp.my_decks', email=current_user.email) }}">My Decks</a></h3>
   <h3><a href="{{ url_for('main_bp.edit_deck', email=current_user.email, deck_id=card.deck_id) }}">Deck Overview</a></h3>
</div>

<h1>FLASHCARDZ</h1>
<h2>STUDY DECK: {{ deck_name }} </h2>

<div class="study-container">
   <div class="card" flipped="false">
       <div class="card-inner">
          <div class="card-front">
             <h3>Front: </h3>
             <p>{{ card.front }}</p>
             <div class="btn-container">
                <button class="flip-btn" type="button">Check</button>
             </div>
          </div>
          <div class="card-back">
             <h3>Back: </h3>
             <p>{{ card.back }}</p>
             <div class="btn-container">
                <button class="correct-btn" type="button" correct='true'>Correct</button>
                <button class="correct-btn" type="button" correct='false'>Incorrect</button>
                <br>
                <button class="retry-btn" type="button">Retry</button>
             </div>
         </div>
      </div>
   </div>
</div>
<a href="{{ url_for('main_bp.study', card_id=card.id+1) }}">
   <button>Next</button>
</a>

<h3><a href="{{ url_for('main_bp.edit_deck', email=current_user.email, deck_id=card.deck_id) }}">Deck Overview</a></h3>


 <script>
    const score_route = "{{ url_for('main_bp.record_score') }}"
   
   // https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch
    async function putScore(url, data) {
      const response = await fetch(score_route, {
         method: 'PUT', 
         mode: 'cors', 
         cache: 'no-cache', 
         credentials: 'same-origin',
         headers: {
            'Content-Type': 'application/json'
         },
         redirect: 'follow',
         referrerPolicy: 'no-referrer',
         body: JSON.stringify(data)
      });
      return response;
   }
   
    function recordScore(e) {
      const correct = e.target.getAttribute("correct");
      const isCorrect = (correct === 'true');
      putScore(score_route, {
         correct: isCorrect,
         card_id: "{{ card_id }}",
         email: "{{ email }}"
      }).then(data => {
         console.log(data);
      })
    }
    const correctBtn = document.querySelectorAll(".correct-btn")
    correctBtn.forEach(btn => {
       btn.addEventListener("click", recordScore);
      })
      
   const retryBtn = document.querySelector(".retry-btn");
   retryBtn.addEventListener("click", e => {
      const card = document.querySelector(".card");
      card.setAttribute("flipped", "false")
   });

 </script>
 {% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='flip-card.js') }}"></script>

{% endblock %}