/* Flashcardz stylesheet */

:root {
	--cornflower-blue: #6495edff;
	--baby-powder: #fdfffcff;
	--sunray: #edae49ff;
	--lt-sunray: #F2C67E;
	--jet: #303000;
	--dark-jet: #1E1E00;
	--indigo-dye: #003d5bff;
	--lt-indigo-dye: #006598;
	--wisteria: #7143CE;
	--radical-red: #e65463ff;
	--dk-radical-red: #76121C;
	--lt-radical-red: #EB7B86;
	--medium-sea-green: #3cb371ff;
	--lt-sea-green: #60CA90;
	--front: #98c1d9;
	--back: #6396bb;

	color: var(--jet);
}

body {
	margin: 0px;
}

* {
	box-sizing: border-box;
}

header {
	color: var(--sunray);
	width: 100%;
	padding: 10px 50px 10px 50px;
	background-color: var(--jet);
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}


a {
	color: var(--indigo-dye);
}
a:visited {
	color: var(--wisteria);
}

h1 {
    margin: 10px;
	font-family: helvetica;
}

h2 {
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 30px;
	color: var(--jet);
	font-family: helvetica;;
}

.h3-container {
	display: flex;
	flex-direction: row;
	max-width: 500px;
	margin: auto;
	margin-bottom: 20px;
}

h3 {
	margin:auto;
	margin-bottom: 20px;
}


br {
	height: 20px;
}

button {
	background-color: var(--sunray);
	border: none;
	color: var(--baby-powder);
	width: 125px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

button:hover {
	background-color: var(--lt-sunray);
	cursor: pointer;
}


body {
	background-color: var(--cornflower-blue);
	font-family: helvetica;
	text-align: center;
}

#top_nav {
	padding: 20px;;
	height: 30px;
	color: var(--baby-powder);
	overflow: hidden;

}
#top_nav a {
	margin: 20px;
	padding: 20px;
	color: var(--baby-powder);
	background: var(--jet);
}

#top_nav a {
        margin: 20px;
        padding: 20px;
        color: var(--baby-powder);
        background: var(--jet);
}

#bottom_nav {
        padding: 20px;;
        height: 30px;
        color: var(--baby-powder);
        overflow: hidden;

}
#bottom_nav a {
        margin: 20px;
        padding: 20px;
        color: var(--baby-powder);
        background: var(--jet);
}


#bottom_nav a:hover {
	background-color: grey;
}


p {
	text-align: center;
	float: none;
	color: var(--jet);	
	font-size: 25px;
	padding: 10px;	

}



input[type=button] {
    background-color: var(--jet);
	color: var(--baby-powder);
    padding: 9px 24px;
	margin-bottom: 20px;

}

input[type=submit] {
    background-color: var(--jet);
	color: var(--baby-powder);
    padding: 9px 24px;
	margin-bottom: 20px;

}

input[type=text] {
	width: 20%;
	padding: 12px 20px;
	margin-top: 0px;
  	margin-bottom: 10px;
	
}

input[type=password] {
        width: 20%;
        padding: 12px 20px;
        margin-top: 0px;
	margin-bottom: 10px;
}

#decks {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	max-width: 750px;
	margin: auto;
}

.decks {
	height: 150px;
	width: 250px;
}

.decks #create_deck {
	background-color: var(--sunray);
	color: var(--baby-powder);
	border: none;
}

.decks #create_deck:hover {
	background-color: var(--lt-sunray);
}

.deck-btn {
	background-color: var(--baby-powder);
	margin: 20px;
	color: black;
	padding: 10px 12px;
	width: 200px;
	height:	100px;
	border: solid var(--jet);
	word-wrap: break-word;
	font-size: 20px;
	border-radius: 10px;
}

.deck-btn:hover {
	cursor: pointer;
	background-color: var(--dark-jet);
	width: 210px;
	height: 105px;
	transition: 0.5s;
}

#cards input[type=button] {
	margin: 20px;
	background-color: var(--baby-powder);
        color: black;
        padding: 10px 12px;
        width: 200px;
        height: 100px;
        border: solid var(--jet);
        word-wrap: break-word;
}


#view_card p {
	color: black;
	text-align: center;
	width: 50%;
	height: 80%;
	border: solid var(--jet);
	background-color: var(--baby-powder);;
  	padding: 90px 50px;
  	margin-left: auto;
	margin-right: auto;

}

#create-card-container {
	max-width: 900px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: left;
	margin-top: 50px;
	border-top: var(--jet) solid 5px;
	padding-top: 20px;
	margin-bottom: 70px;
}
.edit-page-title {
	text-align: left;
}
.edit-page-title h1 {
	margin: 0px 0px 25px 0px;
}
.edit-page-title p {
	text-align: left;
	margin: 0px 0px 40px 0px;
	padding: 0px;
}

.card-info-container {
	max-width: 900px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: left;
	margin-top: 50px;
	border-top: var(--jet) solid 5px;
	padding-top: 20px;
}

.card-info-container h1 {
	text-align: left;
	margin: 0px 0px 15px 0px;
}

.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	gap: 30px;
}

.card-container::-webkit-scrollbar {
	display: none;
}

.edit-card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.delete-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 150px;
}

.delete-container .delete-card {

}

.card {
	background-color: transparent;
	width: 280px;
	height: 250px;
	perspective: 1000px;
	margin-bottom: 10px;
}

.card h3 {
	margin-top: 20px;
}
  
  .card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.75s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin-bottom: 8px;
  }

  .card[flipped="true"] .card-inner {
	transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }

  .btn-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 100px;
  }

  .side-text p {
	margin: 0px;
	padding: 0px;
  }
  
  .card-front {
	background-color: var(--front);
	color: black;
  }
  
  .card-back {
	background-color: var(--back);
	color: var(--baby-powder);
	transform: rotateY(180deg);
  }

  .card-back p {
	color: var(--baby-powder);
  }

  .study-container {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
  }

  .next-btn {
	margin-top: 20px;
	width: 125px;
	font-size: 18px;
	background-color: var(--indigo-dye);
  }
  .next-btn:hover {
	background-color: var(--lt-indigo-dye);
  }

  .btn-container {
	margin-top: auto;
  }

  .correct-btn:disabled {
	background-color: var(--jet);
	color: var(--baby-powder);
  }
  .correct-btn:disabled:hover {
	background-color: var(--jet);
	color: var(--baby-powder);
	cursor: default;
  }

  .cor {
	background-color: var(--medium-sea-green);
  }
  .cor:hover {
	background-color: var(--lt-sea-green);
  }

  .incor {
	background-color: var(--radical-red);
  }
  .incor:hover {
	background-color: var(--lt-radical-red);
  }

#logout-btn {
	background-color: var(--radical-red);
}

.nav-btns a {
	margin-left: 8px;
}

#logout-btn:hover {
	background-color: var(--lt-radical-red);
}

form input[type="submit"] {
	background-color: var(--medium-sea-green);
	border: none;
	color: var(--baby-powder);
	width: 125px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

form input[type="submit"]:hover {
	background-color: var(--lt-sea-green);
	cursor: pointer;
}

.alt-auth {
	font-size: 20px;
	margin-top: 0px;
}

.deck-info-container {
	max-width: 900px;
	margin: auto;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

.title-btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 40px;
	margin-bottom: 25px;
}

.title-btn h1, a {
	margin: 0px;
	height: 40px;
}

.deck-info-container h2 {
	text-align: left;
	margin: 0px 0px 10px 0px;
}

.delete-card {
	font-size: 20px;
	text-decoration: none;
	color: var(--dk-radical-red);
}

.delete-card:hover {
	color: var(--radical-red);
}

.delete-card:visited {
	color: var(--dk-radical-red);
}